* {
  padding: 0;
  margin: 0;
}

header {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 3;
}

.topbar {
  height: 50px;
  background-color: rgb(0, 89, 255);
}

.topbar .topbar_left {
  box-sizing: border-box;
  margin: 0 100px;
  padding: 5px;
  background-color: orange;
  border-radius: 0 0 5px 5px;
  float: left;
  box-shadow: 5px 5px 0px 0px blue;
}

.topbar .topbar_left i {
  color: white;
}

.topbar .topbar_left span {
  color: white;
  float: right;
  padding: 0 10px;
  font-weight: 200;
}

.topbar .topbar_right {
  display: block;
  float: right;
  margin-right: 250px;
}

.topbar .topbar_right i {
  position: absolute;
  padding: 7px;
  justify-items: center;
}

.topbar .topbar_right input {
  font-style: italic;
  height: 40px;
  font-size: 14px;
  padding-left: 30px;
  border-radius: 0 0 5px 5px;
  box-shadow: 5px 5px 0px 0px blue;
}

.topbar .topbar_right .logo {
  float: right;
  margin-left: 5px;
}

.topbar .topbar_right .logo i {
  position: static;
  background-color: rgb(0, 153, 255);
  color: white;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  box-shadow: 5px 5px 0px 0px blue;
}

.menu {
  max-width: 100%;
  font-size: 25px;
  padding: 20px;
  background-color: rgb(0, 89, 255);
}

.menu img {
  height: 50px;
  padding-left: 50px;
}

.menu .menu_right {
  font-family: "arial";
  float: right;
  font-size: 15px;
  list-style: none;
  padding-right: 100px;
}

.menu .menu_right ul {
  margin-top: -35px;
}

.menu .menu_right ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin: 0 7px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  justify-content: center;
}

.menu .menu_right ul li button {
  background-color: rgb(0, 110, 255);
  font-size: 15px;
  border-radius: 10px;
  color: white;
  object-fit: fill;
  border: none;
  text-align: center;
  display: inline-block;
  padding: 10px 10px;
}

.menu .menu_right ul li:hover {
  border: 1 solid #000;
  border-radius: 5px;
  border-width: auto;
  background: rgb(0, 153, 255);
  cursor: pointer;
}

.slide1 {
  width: 100%;
  height: 500px;
  background-color: rgb(31, 74, 190);
}

.slide1 .carousel-inner {
  width: 100%;
}

.slide1 .carousel-inner .carousel-item {
  width: 100%;
  height: 500px;
}

.slide1 .carousel-inner .carousel-item img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
}

.main .intro {
  display: block;
  width: 100%;
  height: 500px;
  padding: 50px;
}

.main .intro h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.main .intro h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.main .intro p {
  text-align: center;
  font-size: 95%;
}

.main .intro .profit {
  width: 80%;
  height: 300px;
  margin-left: 10%;
}

.main .intro .profit .row {
  width: 20%;
  float: left;
  text-align: center;
  margin: 0;
}

.main .intro .profit .row img {
  max-width: 100px;
  max-height: 100px;
}

.main .intro .profit .row p {
  font-size: 12px;
}

.main .intro .profit .row h3 {
  font-size: 20px;
  font-weight: 500;
}

.main .product {
  width: 100%;
  text-align: center;
  height: auto;
  background-color: whitesmoke;
}

.main .product .listproduct {
  display: flex;
  max-width: 100%;
  height: 400px;
  margin: 50px;
}

.main .product .listproduct .listproduct_items {
  justify-content: center;
  width: 25%;
}

.main .product .listproduct .listproduct_items img {
  height: 250px;
  padding: 20px 20px 0 20px;
  border-radius: 10px;
}

.main .product .listproduct .listproduct_items span {
  color: white;
  font-size: large;
  font-weight: 500;
  display: block;
  margin: 0 25px 0 25px;
}

.main .product .listproduct .listproduct_items p {
  font-size: 10px;
  display: block;
  background-color: whitesmoke;
  padding: 10px;
  margin: 0 25px 0 25px;
}

.main .product .popularproduct {
  max-width: 100%;
  height: auto;
  flex-wrap: wrap;
  display: flex;
  margin: 20px 50px 50px 100px;
}

.main .product .popularproduct .popularproduct_items {
  width: 250px;
  display: block;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}

.main .product .popularproduct .popularproduct_items img {
  height: 200px;
  width: 200px;
}

.main .product .popularproduct .popularproduct_items span {
  display: inline-block;
  font-weight: 600;
  margin: 10px 0 10px 0;
  font-size: 15px;
}

.main .product .popularproduct .popularproduct_items p {
  display: block;
  font-weight: 500;
  padding: 10px;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
    color: #354052;
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.main .container {
  width: 100%;
}

.main .container .card {
  width: 100%;
}

.main .container .card-img {
  height: 300px;
  width: 300px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.main .container .card-img img {
  width: 100%;
  height: 100%;
  padding: 10px;
  object-fit: cover;
}
.main .container .card span {
  font-weight: 500;
}
.main .container .card p {
  font-weight: 500;
}

.main .product button {
  background-color: rgb(0, 110, 255);
  font-size: 20px;
  border-radius: 10px;
  color: white;
  object-fit: fill;
  margin-bottom: 100px;
  border: none;
  text-align: center;
  display: inline-block;
  padding: 5px 20px 5px 20px;
  font-weight: 400;
}

.main .about {
  margin: 50px;
  width: 90%;
  height: 500px;
  display: flex;
  position: relative;
}

.main .about .about_left {
  padding: 10px;
  font-size: 18px;
  text-align: left;
  line-height: 25px;
  margin: 10px 50px;
}

.main .staff {
  background-color: whitesmoke;
  height: 400px;

}

.main .staff .image {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-bottom: 20px;
  height: 80px;
}

.main .staff .slide3 .slide3_style span {
  font-weight: 600;
  font-size: 17px;
  color: black;
  line-height: 30px;
}

.main .staff .slide3 .slide3_style p {
  font-style: italic;
  font-size: 17px;
  text-align: center;
  color: rgb(87, 85, 85);
  line-height: 25px;
  margin-top: 30px;
  padding: 10px;
}

.main .staff .slide3 .carousel-inner > .item {
  padding-top: auto;
  padding-bottom: auto;
  height: 380px;
}

.main .staff .slide3 .carousel-control.left {
  background: none;
  box-shadow: none;
  text-shadow: none;
  margin-left: 130px;
}

.main .staff .slide3 .carousel-control.right {
  background: none;
  box-shadow: none;
  text-shadow: none;
  margin-right: 130px;
}

.main .staff .slide3 .carousel-control {
  color: #354052;
}

.main .staff .slide3 .carousel-control:hover {
  color: #354052;
  text-decoration: none;
  transition: background-color 1s ease;
}

.main .staff .slide3 .carousel-indicators .active {
  background-color: #fff;
  width: 14px;
  height: 14px;
  transition: background 1s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.main .staff .slide3 .carousel-indicators li {
  border: 2px solid #354052;
  background-color: #354052;
}

.main .support {
  width: 100%;
  height: 400px;
  display: flex;
  margin: 50px 50px;
  padding-left: 50px;
}

.main .support .ul li {
  width: 30%;
  padding: 10px;
  font-size: 15%;
  text-align: left;
  line-height: 20px;
}

.main .support iframe {
  max-width: 300px;
  max-height: 250px;
  margin: 0 10px 0 10px;
}

footer {
  padding-top: 10px;
  margin-top: 50px;
  background-color: rgb(0, 89, 255);
  width: 100%;
  height: 350px;
  display: block;
  text-align: center;
  font-size: 13px;
  color: white;
}
